@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cu-tr{
  transition: max-height 0.7s ease-out !important;
}

.cu-bg{
  background:linear-gradient(0deg, rgba(27,26,27,0.5560344827586207) 41%, rgba(0,0,0,0) 59%);
}